---
import Card from './Card.astro'
const featuresData = [
  {title: 'Data Science - Machine Learning', body: 'Projects in Data science, Data analysis, Data engineering, Machine learning, Deep learning, NLP, Computer vision, and more.'},
  {title: 'Web Development', body: 'Frontend, backend, and fullstack, Projects created using React, Next.js, Node.js, Express.js, MongoDB, Astro and more.'},
  {title: 'Python', body: 'Projects created using python and its libraries.'},
];
---

<section class="features">
  <div class="container">
   {featuresData.map(feature => (
      <Card>
        <h3>{feature.title}</h3>
        <p>{feature.body}</p>
      </Card>
    ))}
  </div>
</section>

<style>
  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
    margin: 30px auto;
  }
  @media (max-width: 500px) {
  .features .container {
    grid-template-columns: 1fr;
  }
}
</style>